*{
    background-color: #475c6c;
}

body{
    display: flex;
    flex-direction: column;
    width: auto;
    margin: 2%;
}

.center{
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 5%;
    color: whitesmoke;
    background-color: #8a8583;
    border-radius: 10px;
    border: 1px #8a8583 solid;

    gap: 8px;

    justify-content: center;
    align-items: center;
}

.p_buttons{
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: 2%;
    background-color: #8a8583;
    gap: 16px;

    justify-content: space-between;
    align-items: center;
}

.player_button{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #68605d;

    height: 100px;
    width: 100px;
    border: 5px #475c6c solid;
    border-radius: 10px;
}

.player_button:hover{
    background-color: #3d3735;
}

.scores{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.scores_bg{
    background-color: #8a8583;
}

.logger{
    display: flex;
}

#logger_window{
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 16px;
    border-radius: 10px;
    color: white;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4px;
}

.log_item{
    background-color: black;
}

.log_title{
    font-size: 18px;
    font-weight: 600;
}